body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #333;
}

.navbar li .active {
  background-color: #111;
}

.content {
  display: block;
  margin: 0% 10%;
}

.content .left {
  display: block;
  float: left;
  vertical-align: middle;
  padding-right: 2%;
  padding-bottom: 2%;
}

.content .right {
  display: block;
  float: right;
  vertical-align: middle;
  padding-left: 2%;
  padding-bottom: 2%;
}

.content div {
  padding: 2.5% 20%;
}

.content .biglinks {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.content .biglinks a {
  -webkit-flex: auto;
  flex: auto;
  padding: 2.5% 15%;
  text-align: center;
  font-size: 24px;
}

.content .biglinks a:nth-child(odd) {
  background-color: #AAA;
}

.content .biglinks a:nth-child(even) {
  background-color: #CCC;
}

.content .biglinks a:hover {
  background-color: #555;
  color: white;
}

.content div h1, h3 {
  text-align: center;
}

.content div h1 {
  font-weight: bolder;
  font-size: 36px;
}

.content div h3 {
  font-weight: bold;
}

.content div p {
  text-align: justify;
}

.content div:nth-child(odd) {
  background-color: #BBB;
}

.content div:nth-child(even) {
  background-color: #DDD;
}
