@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
}

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #CCC;
}

.navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  flex: 100%;
}

.navigation a {
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 20px 20px 20px 0px;
  text-align: center;
  position: relative;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation a:hover {
  color: dimgray;
}


.navigation a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: dimgray;

  position: absolute;
  top: 0;
  width: 0;

  transition: all ease-in-out 250ms;
}

.navigation a:hover::before {
  width: 100%;
}


.content {
  display: block;
  width: 50%;
  margin: auto;
  padding: 2.5% 10%;
  font-family: "Montserrat", sans-serif;
}

.content:nth-child(odd) {
  background-color: #DDD;
}

.content:nth-child(even) {
  background-color: #EEE;
}

.content > h1 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

.content > h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.content > p {
  font-size: 16px;
}

.content > .buttoncontainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content > .buttoncontainer > button {
  background-color: #AAA;
  border: none;
  border-radius: 50px;
  padding: 15px;
  font-size: 20px;
  margin: 5px;
  flex: 33%;
}

.content > .buttoncontainer > button:hover {
  background-color: #777;
}